/******* EXAMPLE A *******/

.rating-a .bar-rating {
    height: 52px;
}

.rating-a .bar-rating a {
    display: block;
    width: 15px;
    padding: 5px 0 5px 0;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
    text-align: center;
}

.rating-a .bar-rating a.active,
.rating-a .bar-rating a.selected {
    background-color: #59a6d6;
}

.rating-a .bar-rating .current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}

/******* EXAMPLE C *******/

.rating-c .bar-rating {
    height: 52px;
}

.rating-c .bar-rating a {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    background-color: #e3e3e3;
    margin: 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.rating-c .bar-rating a.active,
.rating-c .bar-rating a.selected {
    background-color: #FFD233;
    color: white;
}