/* This is the base css file */

body {
    font-size:12px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.btn-primary {
    background-color: #2F7CBB;
    background-image: linear-gradient(to bottom, #68A5D9, #2F7CBB);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #2D75B0;
}

/* Layout */

.site-header {
    /*height:113px;*/
    border-bottom: 2px solid #aaa;
    background-color: #fff;

}

.header-form {
    /*height: 59px;*/
    width:720px;
}

.header-form .span5 {
    width:48%;
    margin-left: 2%;
    height: 80px;
}

.header-form .header-login-form.span5 {
    margin-left:0;
    width:50%;
}

.header-menu-container {
    margin-bottom: 0;
    width:720px;
}

.navbar-inner .container {
    padding-top: 6px;
}

.user-menu {
    float:right;
    margin-top: 20px;
}

.logo {
    position: relative;
    height:113px;
    background-color: #fff;
    width:200px;
    margin-top: 5px;
}

.top-menu-search .input-append {
    border-radius: 9px;
    width:75%;
    margin-left: 30px;
}

/* Header items */

.header-login-form input {
    border-radius: 9px;
    border:1px solid #ddd;
    width: 120px;
    margin-right: 12px;
    color: #777777;
    font-size: 0.96em;
}

.guest-options {
    margin-top:9px;
    float:right;
    color: #777777;
}

.guest-options a {
    color:#777;
}


.guest-options a:hover {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

/* Home product carousels */

.product-carousel {
    width: 87%;
    margin:auto;
}

.last-visited-box {
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=#dddddd)";/*IE 8*/
    -moz-box-shadow: 0px 0px 10px #dddddd;/*FF 3.5+*/
    -webkit-box-shadow: 0px 0px 10px #dddddd;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0px 0px 10px #dddddd;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=#dddddd); /*IE 5.5-7*/
}

.last-visited-box .product-carousel .carousel-control {
    background-color: #fff;
}

.last-visited-box .home-title {
    margin-left:20px;
    color:#FFD233;
}

.carousel-control {
    background: url('../img/flechas.png') 0 center no-repeat #eee;
    border-radius: 0 0 0 0;
    height: 308px;
    left: -9.81%;
    top: 17px;
    width: 6.1%;
    opacity: 1;
    outline: none !important;
}

.carousel-control.right {
    background: url('../img/flechas.png') -60px center no-repeat #eee;
    left: auto;
    right: -9.81%;
}

.carousel-control:hover {
    background-color: #ddd;
}

/* Footer layout */

footer {
    background-color: #333333;
    color: #AAAAAA;
    min-width: 230px;
    margin-top: 40px;
}

footer.container-fluid {
    padding: 0;
}

footer .contact-row {
    clear: left;
    margin-bottom: 15px;
    min-height: 26px;
}

footer .contact-row.contact-text {
    display: block;
    padding-left: 35px;
    width: 231px;
    margin: auto;
}

.contact-row.address {
    background: url('../img/direccion.png') 0 center no-repeat;
}

.contact-row.phone {
    background: url('../img/telefono.png') 0 center no-repeat;
}

.contact-row.fax {
    background: url('../img/fax.png') 0 center no-repeat;
}

.contact-row.mail {
    background: url('../img/correo.png') 0 center no-repeat;
    line-height: 26px;
}

.contact-row.mail:hover {
    background: url('../img/correo2.png') 0 center no-repeat;
}

.contact-row.facebook {
    background: url('../img/facebook.png') 0 center no-repeat;
    line-height: 26px;
}

.contact-row.facebook:hover {
    background: url('../img/facebook2.png') 0 center no-repeat;
}

.contact-row.twitter {
    background: url('../img/twitter.png') 0 center no-repeat;
    line-height: 26px;
}

.contact-row.twitter:hover {
    background: url('../img/twitter2.png') 0 center no-repeat;
}

.footer-block {
    float:left;
}

.footer-title {
    height: 55px;
    line-height: 60px;
    border-bottom:1px solid #444444;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.footer-title:hover {
    text-decoration: underline;
}

.products-footer {
    width:31%;
}

.services-footer {
    width:33%;
}

.contact-footer {
    width:36%
}

.us-footer {
    width: 24%;
}

.help-footer {
    width: 29%;
}

.jobs-footer {
    width: 47%;
}

.dynamic-footer-blocks {
    width:65%;
}

.footer-static-blocks {
    width: 35%;
    text-align: right;
}

.logos-footer {
    width:35%;
    text-align: center;
    padding-top: 75px;
}

.copyright-footer {
    width:100%;
    text-align: center;
    background-color: #2C2C2C;
    border-top: 1px solid #222222;
    margin-top: 30px;
    line-height: 45px;
}

footer [class^="icon-"], footer [class*="icon-"] {
    background-image: none;
    display: none;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer li {
    margin-bottom: 5px;
}

footer a, footer a:visited {
    color: #AAAAAA;
}

footer a:hover, footer a:active {
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .dynamic-footer-blocks {
        width:100%;
        text-align: center;
    }

    .footer-static-blocks {
        width: 100%;
        text-align: center;
    }

    .contact-footer.footer-block .contact-row {
        text-align: left;
    }

    .contact-footer.footer-block {
        margin: auto;
    }

    .logos-footer {
        width: 100%;
        text-align: center;
        padding-top: 0px;
    }

    .carousel-control {
        background-size: 193%;
    }

    .carousel-control.right {
        background-size: 193%;
        background-position: 97%
    }
}

@media (max-width:320px) {
    footer {
        width: 270px;
    }

    .logos-footer {
        padding-top: 0px;
    }
}

@media (max-width: 740px) {

    .site-header {
        height: auto;
    }

    .header-form {
        width:100%;
    }

    .header-form .span5 {
        width:100%;
        height: auto;
    }

    .header-login-form form {
        float:none;
    }

    .header-menu-container {
        width:100%;
        margin-top: 10px;
    }

    .logo {
        float:left;
        width:71px;
        height:51px;
        margin-right:10px;
    }

    .top-menu-search .input-append {
        border-radius: 9px;
        width:80%;
    }


    .header-menu-container {
        position: absolute;
        z-index: 15000;
        top: 0;
        right: 10px;
    }

    .header-menu-container .nav-collapse {
        background-color: #fff;
    }

    .guest-options {
        float:none;
    }

    .footer-block {
        text-align: center;
    }

    .footer-static-blocks {
        width:100%;
        text-align: center;
    }

    .contact-footer.footer-block .contact-row {
        text-align: left;
    }

    .contact-footer.footer-block {
        margin: auto;
    }

    .logos-footer {
        width: 100%;
        padding-top: 0px;
    }
}

@media (max-width: 768px) {
    .footer-block {
        float:none;
        width:100%;
    }

    .footer-static-blocks {
        width:100%;
        text-align: center;
    }

    .dynamic-footer-blocks {
        width:100%;
    }

    .logos-footer {
        padding-top: 0px;
    }
}

@media (min-width: 1200px) {
    .header-form {
        width:940px;
    }

    .header-menu-container {
        width:940px;
    }

    .header-login-form input {
        width:133px;
    }
}


.slider-area {
    background-color: #333;
}

.home-slideshow {
    margin:auto;
}

.search-sidebar-box {
    margin-bottom:1.5em;
    border-bottom: 1px solid #ccc;
}

.sidebar-search-form .input {
    width:100%;
}

.header-form form {
    margin: 20px 0 0
}

.header-menu-container .navbar-inner {
    background: none;
    border-radius: 0;
    border: none;
    z-index: 1000;
    box-shadow: none;
}

.cursor-pointer {
    cursor: pointer;
}

.side-nav {
    background: #fff;
}

.sub-category{
    background: #fafafa;
}

.sub-category .sub-category-text{
    padding-left: 30px;
}

.sub-category.level3 .sub-category-text{
    padding-left: 60px;
}

.side-bar .nav-header {
    padding:0;
    margin-bottom: 0.5em;
}

.side-bar .nav-header-subtitle {
    font-size:0.8em;
}

.nav-category {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    border:1px solid #ddd;
    background: none repeat scroll 0 0 #FAFAFA;
    /*border-radius: 6px;*/

    float:left;
    width:300px;
}

.nav-category .active {
    text-decoration: none;
    color:#333;
}

.nav-category .collapse {
    margin:0;
    border:0;
}

.nav-category .collapse.in {
    border-top:1px solid #ddd;
}

.nav-category ul {
    list-style: none;
    margin:0;
    padding:0;
}

.nav-category li {
    border-bottom:1px solid #ddd;
    line-height: 2.5em;
    min-height: 2.5em;
}

.nav-category .level2 {
    background: none repeat scroll 0 0 #FFFFFF;
}

.nav-category .level3 {
    background: none repeat scroll 0 0 #FFFFFF;
}

.nav-category li a {
    padding-left:0.5em;
}

.nav-category .level2 li a {
    padding-left:2.5em;
}

.nav-category .level3 li a {
    padding-left:4.5em;
}

.nav-category .level2 li:last-child {
    border:0;
}

.nav-category .icon-chevron-down, .nav-category .icon-chevron-right {
    margin: 0.6em 0.8em 0 0;
    float: right;
    opacity: .25;
}

nav-filters-container {
    margin-top:1em;
}

.nav-filter-active, .nav-filter-available {
    list-style: none;
}

.nav-filter-active .label {
    margin-bottom: 0.5em;
    line-height: 1.54em;
    background-color: #EEEEEE;
    color: #666666;
    font-weight: normal;
    text-shadow: none;
    line-height: 24px;
    padding: 2px 10px;
    white-space: inherit;
    min-width: 225px;
}

.nav-filter-active .label .close {
    margin-left:5px;
}

.side-nav .icon-chevron-right, .side-nav .icon-chevron-down {
    float: right;
    margin-top: 10px;
    margin-right: 8px;
    opacity: .25;
}

.icon-chevron:hover {
    cursor: pointer;
}

.side-nav a:hover .icon-chevron-right,.side-nav a:hover .icon-chevron-down {
    opacity: .5;
}

.main-container{
    /*padding-top: 10px;*/
}

.login{
    background:url('../img/login_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login .initial{
    padding-top: 36px;
}

.login .initial .hello{
    background: rgba(0,0,0, 0.6);
    color: #fff;
}

.login .big-form{
    padding: 16px 19px 4px 19px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 0 0 20px rgba(0,0,0,.05);
}

.login .step .big-form {
    padding: 20px 39px 29px 39px;
}

.login .big-form .register-controls{
    padding-bottom: 8px;
}

.login .big-form input[type="text"],
.login .big-form input[type="password"],
.login .big-form input[type="email"],
.login .big-form .add-on,
.login .big-form select{
    font-size: 14px;
    height: auto;
}

.login .big-form .control-group{
    margin-bottom: 0;
}

.checkbox-category{
    padding: 6px 10px 6px 25px;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    background-color: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-category:hover{
    color: #333;
    background-color: #f5f5f5;
}

.checkbox-category-form {
    margin-left:1em;
}

.site-welcome {
    font-size: 21px;
}

.site-description {
    font-size: 0.9em;
    font-style: italic;
    text-align: justify;
}

/* TOMADO DEL ESTILO DE BOOTSTRAP PARA LOS DEMAS COMPONENTES */
.login .big-form select{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}

.alert-error .popover-content{
    padding:6px 8px;
}

.table .table-cell-controls{
    width: 118px;
    padding: 0;
    vertical-align: middle;
}

.table .table-cell-controls.table-cell-controls-one{
    width: 39px;
}

.well {
    background-color: #FFF;
    border: none;
    box-shadow: none;
}

input.dial{
    box-shadow: none;
}

input.dial:focus{
    box-shadow: none;
}

@media (min-width: 1024px) {
    .stats .stats-column{
        min-height: 246px;
    }
}

@media (max-width: 800px) {
    .stats .stats-column{
        min-height: 246px;
    }
}

.stats .stats-row{
    text-align: center;
}

.stats .stats-row h4{
    margin: 0 0 4px 0;
}

.stats .page-header h2{
    margin:4px 0;
}

.stats .stats-row p{
    margin: 0;
}

.stats .stats-row .caption{
    padding:0 4px;
}

.stats .stats-row{
    margin:0;
}

.stats .page-header{
    margin: 4px 0 10px;
    padding-bottom:0;
}

.stats .stats-column{
    padding: 0;
}

.logo-job{
    width: 130px;
    height: 130px;
    line-height: 130px;
    padding: 1px;
}

.logo-job img{
    width: 100%;
}

.list-job{
    margin-top:10px;
    margin-bottom: 20px;
}

.list-job .job-contact{
    width: 130px;
    text-align: center;
}

.list-job .values{
    font-size: 14px;
}

.title-job{
    color:#3385CB;
}

.description-job{
    color:#9D9D9D;
}

.list-job .values .row{
    margin-bottom: 17px;
}

.job-guest{
    color:#CBA875;
    margin-bottom: 30px;
}

.job-detail .field{
    font-size: 16px;
    margin-bottom: 20px;
}

a.job-more-info {
    color: #555555;
    text-decoration: underline;
}

a:hover.job-more-info {
    color: #9D9D9D;
}

.span3.job-company {
    margin-left: 20px !important;
    width: 180px;
}

/* Modal */

.modal p {
    font-size:1.3em;
}

.modal .text-center {
    margin:2.5em 0;
}

/* Login */
.login-title {
    margin: 30px 0px;
}

.register-banner {
    cursor: pointer;
}

.register-banner img {
    margin-left: 60px;
    margin-top: -35px;
}