h1 {
    color:#375970;
    font-size:2.6em;
    font-family: 'Trebuchet MS', arial, sans-serif;
    font-weight: normal;
}

h2 {
    color:#375970;
    font-size:1.3em;
    font-family: 'Trebuchet MS', arial, sans-serif;
    font-weight: normal;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.pub-title {
    font-size: 1.4em;
    line-height: 1.1em;
}

.pub-line {
    display: block;
}

.pub-thumb {
    border: 1px solid #eee;
    padding: 1em;
    margin-bottom: 1em;
}

.pub-images-carousel {
    width:320px;
    height:300px;
    border: 4px solid #ccc;
}

.pub-list-btn-group {
    margin-bottom: 1em;
}

.pub-table {
    padding:0.4em;
    margin:0 0 1em 0;
    width:95%;
}

.pub-table td, .pub-table th {
    border:1px solid #eee;
    padding: 0.2em;
}

.pub-list-filters {
    margin-bottom: 1em;
}