h1 {
    color:#3385CB;
    font-size:2.6em;
    font-weight: normal;
}

h2 {
    color:#3385CB;
    font-size:1.4em;
    font-weight: normal;
}

h2.home-title {
    text-transform: uppercase;
    /*font-weight: bold;*/
}

.title-arrow {
    color:#FFD233;
    font-family: Arial;
    font-size-adjust: inherit;
    font-stretch: ultra-condensed;
}

.sorting-arrow {
    opacity: 0.7;
    margin-top: 0;
}

.clear-both {
    clear:both;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.pub-rating-box {
    height: 25px;
}


.pub-rating-box .current-rating {
    float:right;
    margin-top: 10px;
    margin-right: 10px;
}

.pub-rating-box .current-rating .rating-value {
    /*display: none;*/
}

.pub-title {
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: bold;
    height: 2.0em;
}

.pub-title:hover, .pub-title:focus, .pub-info-desc a:hover,  pub-info-desc a:focus {
    color: #64A3D7;
    text-decoration: none;
}

.pub-info-desc a:

.pub-line {
    display: block;
}

.pub-info-box {
    position: relative;
    height: 280px;
}

.pub-info-box img {
    margin:10px auto;
    display: block;
}

.pub-info-desc {
    position: absolute;
    background-color: rgba(190, 190, 190, 0.1);
    bottom: 0;
    width: 94%;
    padding: 0 3% 2% 3%;
}

.pub-thumb {
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

.pub-thumb:hover {
    border:1px solid #aaa;
}

.pub-images-carousel {
    border: 1px solid #CCCCCC;
    height: 450px;
    width: 450px;
    margin-top: 60px;
}

.pub-images-carousel .carousel-inner .pub-image-wrapper {
    /* height: 300px; */
    vertical-align: middle;
    height:450px;
    display: table-cell;
    width:450px;
}

.pub-images-carousel:hover .carousel-control {
    display: block;
}

.pub-images-carousel .carousel-control {
    display: none;
    top: 48%;
    background: #ccc;
    width: 30px;
    height: 39px;
    left: 4%;
    border:1px solid #ccc;
}

.pub-images-carousel .carousel-control.right {
    left:auto;
    right:4%;
}

.publication-detail h1 {
    background-color: #3385CB;
    color: #FFF;
    font-size: 1.2em;
    padding-left: 20px;
    width: 55%;
    margin-top: 30px;
    float: left;
}

.triangle {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #3385CB;
    border-top: 20px solid transparent;
    float: left;
    height: 0;
    margin-top: 30px;
    width: 0;
}


.publication-info {
    float: left;
    width: 660px;
    margin-left: 20px;
    font-size: 1.1em;
    color: #444444;
}

.publication-info div {
    margin-top: 20px;
}

.publication-info .evaluation {
    width: 168px;
}

.publication-info .current-rating {
    margin-top: 3px;
    float: right;
}

.publication-info h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
    height: 30px;
}

.publication-info .title-arrow {
    margin-right: 5px;
}

.publication-detail .publication-info p {
    font-size: 1em;
    margin-left: 13px;
}

.publication-info ul {
    font-size: 0.9em;
    margin-left: 28px;
}

.pub-name {
    background: url('../img/pub_nombre.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-phone {
    background: url('../img/pub_telefono.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-location {
    background: url('../img/pub_direccion.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-email {
    background: url('../img/pub_correo.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-list-btn-group {
    margin-bottom: 1em;
}

.pub-list-filters {
    margin-bottom: 1em;
}

.pub-table .title-with-categories {
    font-size:.9em; color:#777;
    display: block;
}

.publication-info .contact {
    float: left;
    width: 315px;
    padding-left: 15px;
    margin-top: 0;
}

.publication-buttons {
    float: right;
    text-align: center;
    width: 450px;
}

/*.pub-table .row-title {*/
    /*width: 25%;*/
/*}*/

.pub-table .row-date {
    width: 8%;
    word-wrap: break-word;
}

.pub-table .row-created {
    width: 8%;
}

.pub-table .row-options {
    vertical-align: middle;
    width: 12%;
}

.pub-table .row-status {
    width: 9%;
}

.pub-table .row-seller_name {
    width:22%;
}

.pub-table .row-visits_number {
    width: 8%;

}

.pub-table .row-rating_avg {
    width: 9%;

}

/*.pub-table.admin .row-title {*/
    /*width: 31%;*/
/*}*/

.field-error {
    margin-top:1em;
}

.form-message-box {
    display: none;
}

/* Dashboard */


/* Home carousel */


.main-banner-img {
    width:100%;
}

div#home-banner-top ol.carousel-indicators {
    left: inherit;
    margin: 0;
    top: 374px;
}

div#home-banner-top .carousel-control {
    margin-top: 0px;
}

.dashboard-item-list {
    margin-left:0;
}

/* Dropzone overrides */

.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
    display: none;
}

.dropzone .dz-remove:hover {
    cursor: pointer;
}

.dropzone .dz-message {
    font-weight: bold;
    font-family: "Trebuchet MS", "Arial Black", Helvetica, sans;
    color:#ccc;
    font-size:2em;
    text-align: center;
    padding-top:2em;
    margin-bottom: 1.6em;
}

.dropzone.dz-started .dz-message {
    display: block;
}

.dropzone.dz-clickable{
    min-height: 15em;
    margin-bottom: 1em;
}

.navbar .nav > li > a {
    /*padding: 16px 20px;*/
}

.navbar .public-menu > li > a {
    text-transform: uppercase;
}


.checkbox.terminos .popover-content {
    font-size: 12px;
}

.checkbox.terminos .popover {
    margin-top: 9px;
}

.form-horizontal .control-label {
    width: 156px;
}

.profile-form select.input-xlarge {
    width: 284px;
}

.profile-form .publisher_id_type {
    width: 117px;
}

/* Publication view */

.publication-detail p, .publication-detail li {
    font-size:1.1em;
}

.contact-list li {
    line-height: 1.4em;
}

#viewContact h2 {
    line-height: 25px;
}

/* Publication form */

.categories-form ul {
    list-style:none;
    width: 47%;
}

.key-field-section {
    display: none;
    padding-bottom: 0px;
}

/* Modal report */
.modal-report .row-fluid {
    margin:1em 0 1em 0;
}

.categories-form-list {

}

.required-field:after {
    content: " *";
}

.required-label {
    font-size: 12px;
}

.required-label:before {
    content: "* ";
}

.phone-format-label {
    display: inline;
    font-size: 1em;
    margin-left: 10px;
}

/* Rating */

.current-rating {
    /*height:45px;*/
    line-height: 15px;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    font-family: Verdana;
}



.current-rating .full {
    background-color: #FFD233;
    color:#fff;
}

.current-rating .half {
    background: -moz-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(50%, #ffd233), color-stop(50%, #dddddd));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd233', endColorstr='#dddddd', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #ffd233 50%, #dddddd 50%);/* W3C */
    background-color: #ffd233;
    color:#888;
}

.current-rating .empty {
    background-color: #ddd;
    color:#888;
}

.current-rating .rating-box {
    width:15px;
    height:15px;
    float:left;
    display: block;
    margin-right:2px;
}

/* Main menu */

.main-menu{
    width: 800px;
    height: 375px;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 10000;
    display: none;
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.97);
    -moz-box-shadow: 3px 3px 11px #6d6b6b;/*FF 3.5+*/
    -webkit-box-shadow: 3px 3px 11px #6d6b6b;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#6d6b6b)";/*IE 8*/
    box-shadow: 3px 3px 11px #6d6b6b;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#6d6b6b);/*IE 5.5-7*/
}

.category-menu-link {
    position: relative;
    height: 34px;
}

.category-menu-link:hover .main-menu {
    display: block;
}

.main-menu:hover {
    display: block;
}


.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #3385CB;
}

.main-menu a:hover, a:active {
    text-decoration: none;
    color: #3385CB;
}

.navbar .nav > li > a {
    padding: 2px 30px 10px 0;
}

.nav-category-menu {
    float: left;
    width: 320px;
    padding: 2em 0 0 2em;
    list-style: none;
    margin-left: 40px;
    margin-top: 10px;
}

.nav-service-menu {
    padding-left: 0;
}

.nav-category-menu li {
    font-size:1.2em;
    line-height: 1.2em;
}

.nav-category-menu li a {
    color: #333;
    height:2em;
    line-height:2em;
    display: block;
    padding:0.05em;
    opacity: 0.6;
}

.nav-category-menu li a .icon-chevron-right {
    margin-right:0.8em;
}

.nav-category-menu li a:hover {
    opacity: 1;
}

.category-tree-button {
    float:left;
    margin-top: 1em;
    font-weight: bold;
    color:#ffffff;
    display: block;
    height: 41px;
}

@media (max-width: 460px) {

    .main-menu {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -ms-filter: none;
        box-shadow:none;
        filter: none;
        background: #ffffff
        overflow:visible;
        height: auto;
    }

    .logo {
        position: static;
    }

    .logo .main-menu {
        left: 120px;
        width: 320px;
        position: absolute;
        overflow: hidden;
    }

    .logo:hover .main-menu  {
        left: 0;
    }


    .nav-category-menu {
        padding-left: 0;
        float: none;
    }

}

/* Publications grid */

.publication-grid {
    padding-top: 2em;
}

/* Global rules */
.manito {
    cursor: pointer;
}

/* Home slideshow */

.home-slideshow:hover .carousel-control {
    display: block;
}

.home-slideshow .carousel-control {
    height: 52px;
    width: 40px;
    background: #ccc;
    opacity: 0.9;
    border: 1px solid #ccc;
    left:5%;
    top:42%;
    display: none;
    line-height: 38px;
    font-family: Tahoma;
}

.home-slideshow .carousel-control.right {
    left:auto;
    right:5%;

}

/* Contactanos */
.contactanos-form textarea {
    height: 125px;
}
