h1 {
    color:#3385CB;
    font-size:2.6em;
    font-weight: normal;
    margin: 25px 0px;
}

h2 {
    color:#3385CB;
    font-size:1.4em;
    font-weight: normal;
}

h2.home-title {
    text-transform: uppercase;
    /*font-weight: bold;*/
}

.title-arrow {
    color:#FFD233;
    font-family: Arial;
    font-size-adjust: inherit;
    font-stretch: ultra-condensed;
}

.sorting-arrow {
    opacity: 0.7;
    margin-top: 0;
}

.clear-both {
    clear:both;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.pub-rating-box {
    height: 25px;
}


.pub-rating-box .current-rating {
    float:right;
    margin-top: 10px;
    margin-right: 10px;
}

.pub-rating-box .current-rating .rating-value {
    /*display: none;*/
}

.pub-img-box {
    height: 210px;
    width: 100%;
}

.pub-title {
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: bold;
    height: 2.0em;
}

.pub-title:hover, .pub-title:focus, .pub-info-desc a:hover,  pub-info-desc a:focus {
    color: #64A3D7;
    text-decoration: none;
}

.pub-line {
    display: block;
}

.pub-info-box {
    position: relative;
    height: 280px;
}

.pub-info-box img {
    margin:0 auto;
    display: block;
}

.pub-info-desc {
    position: absolute;
    background-color: rgba(190, 190, 190, 0.1);
    bottom: 0;
    width: 94%;
    padding: 0 3% 2% 3%;
}

.pub-info-desc .pub-seller {
    white-space: nowrap;      /* keep the text on one line */
    overflow: hidden;         /* prevent the text from being shown outside the border */
    text-overflow: ellipsis;  /* Add ... points to end of text */
    -o-text-overflow: ellipsis;
    display: block;           /* The tree above dont work if this is not set */
}

.pub-thumb {
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

.pub-thumb:hover {
    border:1px solid #aaa;
}

.pub-images-carousel {
    border: 1px solid #CCCCCC;
    height: 450px;
    width: 450px;
    margin-top: 60px;
}

.pub-images-carousel .carousel-inner .pub-image-wrapper {
    /* height: 300px; */
    vertical-align: middle;
    height:450px;
    display: table-cell;
    width:450px;
}

.pub-images-carousel:hover .carousel-control {
    display: block;
}

.pub-images-carousel .carousel-control {
    display: none;
    top: 48%;
    background: #ccc;
    width: 30px;
    height: 39px;
    left: 4%;
    border:1px solid #ccc;
}

.pub-images-carousel .carousel-control.right {
    left:auto;
    right:4%;
}

.publication-detail h1 {
    background-color: #3385CB;
    color: #FFF;
    font-size: 1.2em;
    padding-left: 20px;
    width: 55%;
    margin-top: 30px;
    float: left;
}

.triangle {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #3385CB;
    border-top: 20px solid transparent;
    float: left;
    height: 0;
    margin-top: 30px;
    width: 0;
}


.publication-info {
    float: left;
    width: 660px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 1.1em;
    color: #444444;
}

.publication-info .publication-data {
    margin-top: 15px;
}

.publication-info .social-section {
    float: right;
    margin-top: 0px;
    width: 258px;
}

.publication-info .evaluation {
    width: 168px;
}

.publication-info .current-rating {
    margin-top: 3px;
    float: right;
}

.publication-info h2, .publication-rating h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
    height: 30px;
}

.publication-info .title-arrow {
    margin-right: 5px;
}

.publication-detail .publication-info p {
    font-size: 1em;
    margin-left: 13px;
}

.publication-info ul {
    font-size: 0.9em;
    margin-left: 28px;
}

.pub-name {
    background: url('../img/pub_nombre.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-phone {
    background: url('../img/pub_telefono.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-location {
    background: url('../img/pub_direccion.png') 0 top no-repeat;
    padding-left: 40px;
}

.pub-email {
    background: url('../img/pub_correo.png') 0 center no-repeat;
    padding-left: 40px;
}

.pub-web {
    background: url('../img/pub_web.png') 0 top no-repeat;
    padding-left: 40px;
}

.pub-list-btn-group {
    margin-bottom: 1em;
}

.pub-list-filters {
    margin-bottom: 1em;
}

.pub-table .title-with-categories {
    font-size:.9em; color:#777;
    display: block;
}

.publication-info .contact {
    clear: both;
    margin-bottom: 10px;
    padding-right: 15px;
}

.publication-info .contact .block {
    border-top: 1px solid #DDDDDD;
    display: table-cell;
    padding-top: 15px;
    width: 320px;
}

.publication-buttons {
    float: right;
    margin-right: 35px;
    text-align: right;
    width: 450px;
}

#pub-images-box .carousel-indicators li {
    background-color: rgba(150, 150, 150, 0.25);
}

#pub-images-box .carousel-indicators li.active {
    background-color: rgba(25, 25, 25, 0.25);
}

#pub-images-box .carousel-indicators {
    bottom: 15px;
    top: inherit;
}

#pub-images-box .carousel-indicators li:hover {
    cursor: pointer;
}

.google-map {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

.google-map img {
    border: 1px solid #BBBBBB;
    padding: 5px;
}

/*.pub-table .row-title {*/
    /*width: 25%;*/
/*}*/

.pub-table .row-date {
    width: 8%;
    word-wrap: break-word;
}

.pub-table .row-created {
    width: 8%;
}

.pub-table .row-options {
    vertical-align: middle;
    width: 12%;
}

.pub-table .row-status {
    width: 9%;
}

.pub-table .row-seller_name {
    width:22%;
}

.pub-table .row-visits_number {
    width: 8%;

}

.pub-table .row-rating_avg {
    width: 11%;

}

.publication-form, .profile-form, .job-form {
    width:90%;
}

.publication-form hr {
    margin-bottom: 10px;
    margin-top: 30px;
}

.publication-form .change-title-alert {
    color: #B94A48;
    font-weight: bold;
}

.publication-form .change-title-alert a {
    color: #B94A48;
    text-decoration: underline;
}

.publication-form .dates-section {
    display: none;
}

/*.pub-table.admin .row-title {*/
    /*width: 31%;*/
/*}*/

.field-error {
    margin-top:1em;
}

.form-message-box {
    display: none;
}

/* About Us */

.about-us-title {
    margin-left: 33px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.contact-us-title {
    margin-left: 33px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.contact-us-subtitle {
    color: #333333;
    font-size: 14px;
    margin-bottom: 25px;
    margin-left: 34px;
}

.about-us, .help {
    margin: 0px 50px;
    text-align: justify;
}

.about-us h2 {
    line-height: 25px;
    margin-top: 30px;
}

.about-us-image {
    float: left;
    margin: 25px 25px 25px 0px;
}

.about-us-image img {
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.about-us .rif {
    text-align: center;
    font-size: 9px;
}


/* Dashboard */


/* Home carousel */


.main-banner-img {
    width:100%;
    height:390px;
}

div#home-banner-top ol.carousel-indicators {
    left: inherit;
    margin: 0;
    top: 374px;
}

div#home-banner-top .carousel-indicators li:hover {
    cursor: pointer;
}

div#home-banner-top .carousel-control {
    margin-top: 0px;
}

.dashboard-item-list {
    margin-left:0;
}

/* Dropzone overrides */

.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
    display: none;
}

.dropzone .dz-remove:hover {
    cursor: pointer;
}

.dropzone .dz-message {
    font-weight: bold;
    font-family: "Trebuchet MS", "Arial Black", Helvetica, sans;
    color:#ccc;
    font-size:2em;
    text-align: center;
    padding-top:2em;
    margin-bottom: 1.6em;
}

.dropzone.dz-started .dz-message {
    display: block;
}

.dropzone.dz-clickable{
    min-height: 15em;
    margin-bottom: 1em;
}

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
    display: block;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
    display: none;
}

.navbar .nav > li > a {
    /*padding: 16px 20px;*/
}

.navbar .public-menu > li > a {
    text-transform: uppercase;
}


.checkbox.terminos .popover-content {
    font-size: 12px;
}

.checkbox.terminos .popover {
    margin-top: 9px;
}

.form-horizontal .control-label {
    width: 156px;
}

.profile-form select.input-xlarge {
    width: 284px;
}

.profile-form .publisher_id_type {
    width: 117px;
}

.suggest-section {
    margin-top: 15px;
}

.suggest-section .selection, .suggest-section .suggestions {
    margin: 6px;
}

.suggest-section .selection input {
    margin: 0px;
}

.suggest-section .selection .description {
    display: inline;
    vertical-align: middle;
    font-size: 13px;
}

/* Publication view */

.publication-detail p, .publication-detail li {
    font-size:1.1em;
}

.contact-list li {
    line-height: 1.4em;
}

#viewContact h2 {
    line-height: 25px;
}

/* Publication form */

.categories-form ul {
    list-style:none;
    width: 47%;
}

.key-field-section {
    display: none;
    padding-bottom: 0px;
}

/* Modal register */

.modal-register {
    width: 70%; /* desired relative width */
    left: 15%; /* (100%-width)/2 */
    /* place center */
    margin-left:auto;
    margin-right:auto;
}

.modal-register .modal-body {
    padding-bottom: 2em;
}

.register-form-conditions {
    display: none;
}

.register-success .text {
    font-size: 14px;
}

.register-success a {
    margin: 1em 22.5em;
}

/* Modal report */
.modal-report .row-fluid {
    margin:1em 0 1em 0;
}

.modal .report-actions .text-center {
    margin: 0;
}

.categories-form-list {

}

.required-field:after {
    content: " *";
}

.control-label.required-label {
    font-size: 12px;
    text-align: left;
}

.required-label:before {
    content: "* ";
}

.phone-format-label, .order-label, .external-url-label {
    display: inline;
    font-size: 1em;
    margin-left: 10px;
}

/* Rating */

.current-rating {
    /*height:45px;*/
    line-height: 15px;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    font-family: Verdana;
}

.current-rating .full {
    background-color: #FFD233;
    color:#fff;
}

.current-rating .half {
    background: -moz-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(50%, #ffd233), color-stop(50%, #dddddd));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #ffd233 50%, #dddddd 50%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd233', endColorstr='#dddddd', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #ffd233 50%, #dddddd 50%);/* W3C */
    background-color: #ffd233;
    color:#888;
}

.current-rating .empty {
    background-color: #ddd;
    color:#888;
}

.current-rating .rating-box {
    width:15px;
    height:15px;
    float:left;
    display: block;
    margin-right:2px;
}

.publication-rating {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 35px;
    overflow: hidden;
    width: 100%;
}

.publication-rating .title {
    color: #858585;
    margin: 15px 35px 0;
    font-size: 1.3em;
    padding-bottom: 15px;
}

.publication-rating .rating-block {
    margin: 0 35px;
    padding: 20px 0;
    border-top: 1px solid #DDDDDD;
}

.publication-rating .rating-block .current-rating {
    float: left;
    margin-top: 3px;
    width: 10%;
}

.publication-rating .rating-block .info {
    float: left;
    width: 90%;
}

.publication-rating .rating-block .info span {
    margin-left: 25px;
}

.publication-rating .rating-block .info .nickname {
    color: #006CD8;
}

.publication-rating .rating-block .info .date {
    color: #AAAAAA;
}

.publication-rating .rating-block .title-rating {
    color: #858585;
    font-size: 1.2em;
    font-weight: bold;
}

.publication-rating .rating-block .description {
    margin-top: 35px;
    font-size: 1.2em;
    color: #AAAAAA;
}

.publication-rating .rating-block .actions {
    color: #858585;
    font-size: 1.1em;
    margin-top: 10px;
}

.publication-rating .items {
    padding-bottom: 15px;
}

.publication-rating .items .no-ratings {
    font-size: 1.2em;
    color: #AAAAAA;
    text-align: center;
    margin: 3px;
    padding-top: 15px;
    border-top: 1px solid #DDDDDD;
}

.publication-rating .rating-block .actions .btn-group {
    margin-left: 10px;
}

.publication-rating .items .get-more {
    margin-top: 15px;
    text-align: center;
}

.publication-rating .pagination .limit {
    display: none;
}

.publication-rating .group-admin {
    margin-right: 20px;
}

.publication-categories {
    margin-top: 0px;
}

#sectores {
    margin-bottom: 0px;
}

/* Main menu */

.main-menu{
    width: 800px;
    height: 425px;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 10000;
    display: none;
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.97);
    -moz-box-shadow: 3px 3px 11px #6d6b6b;/*FF 3.5+*/
    -webkit-box-shadow: 3px 3px 11px #6d6b6b;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#6d6b6b)";/*IE 8*/
    box-shadow: 3px 3px 11px #6d6b6b;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#6d6b6b);/*IE 5.5-7*/
}

.category-menu-link {
    position: relative;
    height: 34px;
}

.category-menu-link:hover .main-menu {
    display: block;
}

.main-menu:hover {
    display: block;
}


.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #3385CB;
}

.main-menu a:hover, a:active {
    text-decoration: none;
    color: #3385CB;
}

.navbar .nav > li > a {
    padding: 2px 30px 13px 0;
}

.nav-category-menu {
    float: left;
    width: 320px;
    padding: 2em 0 0 2em;
    list-style: none;
    margin-left: 40px;
    margin-top: 10px;
}

.nav-service-menu {
    padding-left: 0;
}

.nav-category-menu li {
    font-size:1.2em;
    line-height: 1.2em;
}

.nav-category-menu li a {
    color: #333;
    height:2em;
    line-height:2em;
    display: block;
    padding:0.05em;
    opacity: 0.6;
}

.nav-category-menu li a .icon-chevron-right {
    margin-right:0.8em;
}

.nav-category-menu li a:hover {
    opacity: 1;
}

.category-tree-button {
    float:left;
    margin-top: 1em;
    font-weight: bold;
    color:#ffffff;
    display: block;
    height: 41px;
}

@media (max-width: 460px) {

    .main-menu {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -ms-filter: none;
        box-shadow:none;
        filter: none;
        background: #ffffff;
        overflow: visible;
        height: auto;
    }

    .logo {
        position: static;
    }

    .logo .main-menu {
        left: 120px;
        width: 320px;
        position: absolute;
        overflow: hidden;
    }

    .logo:hover .main-menu  {
        left: 0;
    }


    .nav-category-menu {
        padding-left: 0;
        float: none;
    }

    .about-us-title, .contact-us-title {
        margin-left: 0px;
    }

    .about-us {
        margin: 10px;
    }

}

/* Publications grid */

.publication-grid {
    padding-top: 2em;
}

/* Global rules */
.manito {
    cursor: pointer;
}

/* Home slideshow */

.home-slideshow:hover .carousel-control {
    display: block;
}

.home-slideshow .carousel-control {
    height: 52px;
    width: 40px;
    background: #ccc;
    opacity: 0.9;
    border: 1px solid #ccc;
    left:5%;
    top:42%;
    display: none;
    line-height: 38px;
    font-family: Tahoma;
}

.home-slideshow .carousel-control.right {
    left:auto;
    right:5%;

}

/* Contactanos */

.contactus-form .phone-format-label {
    margin-left: 0px;
}

.contactus-form {
    float: left;
    margin-bottom: 0px;
}

.contact-info {
    float: left;
    margin-top: 55px;
    font-size: 0.9em;
}

.contact-info h5 {
    margin-left: 45px;
}

.contact-info .contact-row.contact-text {
    padding-left: 40px;
    min-height: 24px;
}

.contact-info a {
    color: #333;
}

.contact-info a:hover {
    color: #0088CC;
    text-decoration: none;
}

.contact-info .contact-row.mail:hover {
    background: url('../img/correo3.png') 0 center no-repeat;
}

.contact-info .contact-row {
    margin-bottom: 5px;
}

.contact-info .contact-row.mail {
    margin-bottom: 15px;
}

.contact-column {
    float: left;
    margin-left: 45px;
}

.contact-info label {
    color: #3385CB;
}

.contact-info .contact-row.phone.line1 {
    line-height: 24px;
}

.contactus-form label, .contact-info label {
    cursor: auto;
}

.contact-more-info {
    padding: 15px;
}

@media (max-width:380px) {
    .contact-column {
        margin-left: 0px;
        width: 274px;
    }
}

/* INIT - File Upload */
.fileupload {
    margin-bottom: 9px;
}

.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}

.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}

.fileupload .btn {
    vertical-align: middle;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.pub-list-filters .nav-header, .user-list-filters .nav-header, .reporter-list-filters .nav-header {
    padding: 15px 0px;
}

.buttons-preload {
    font-size:0.85rem;
}

/* END - File Upload */

/* INIT - Job */

.job-media {
    float: right;
    margin: 15px 0;
}

/* END - Job */

/*
.register-form-conditions ol {
    counter-reset: item;
}
.register-form-conditions ol li {
    display: block;
    position: relative;
}
.register-form-conditions ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}
*/

.register-form-conditions li.main {
    counter-increment: ordem;
}
.register-form-conditions .internal {
    counter-reset: internal;
}
.register-form-conditions .internal li {
    list-style-type: none;
    margin-left: -22px;
}
.register-form-conditions .internal li:before {
    counter-increment: internal;
    content: counter(ordem) "." counter(internal) " ";
}

.contact-form .states {
    color: #AAAAAA;
}

.contact-form .state-option {
    color: #555555;
}

.alert-description {
    padding-bottom: 14px;
    padding-left: 180px;
    padding-top: 10px;
}

.publication-title {
    margin-bottom: 10px;
}

.publication-date {
    margin-bottom: 25px;
}
.advertiser-form .advertiser-status-publisher-warning {
    display: none;
}

.display-stats .caption.bar {
    padding-top: 0;
}

.stats .stats-column input:hover {
    cursor: pointer;
}

.publication-reports-filter {
    margin-left: 10px;
    line-height: 1.3;
}

.advertiser-form .rif-ci {
    width: 178px;
}

/** Style our faq questions **/
dl.faq{
    margin-bottom:30px;
}

/** Make the question itself stand out **/
dl.faq dt{
    font-weight:bold;
    color:#000000;
    padding: 0 0 5px;
    display:block;
}

/** Add a divisor below the question answer **/
dl.faq dd{
    padding-bottom:22px;
    margin-bottom: 20px;
    border-bottom:1px solid #EEE;
    display:block;
    margin-left: 0;
}

.faq a {
    text-decoration: underline;
}

.help a:hover {
    text-decoration: none;
    color: #3385CB;
}

.help a{
    color: #333;
}

.help li {
    line-height: 25px;
}

.help hr {
    margin-top: 35px;
}

.pagetop {
    position: fixed;
    bottom: 30px;
    right: 6%;
}

/* Batch */

.batch-options-buttons {
    padding:10px;
}

/* User */
.group-section {
    display: none;
}

.label-value {
    padding-top: 5px;
}

/* Directory */

.adv-logo-small {
    width:55px;
}

.directory-table {
    font-size: 1em;
}

.directory-table td {
    vertical-align: middle;
}

.directory-table td.publisher-name {
    font-size: 1.1em;
    font-weight: bold;
}

.directory-table .directory-options {
    text-align: right;
    min-width: 142px;
}

.directory-table .directory-options a {
    display: block;
}

.directory-table .directory-options a.hide {
    display: none;
}

